*{
    padding:0;
    margin:0px;
    box-sizing: border-box;
}
body{
    width:100vw;
    height: 100vh;
    display:grid;
    place-items:center;
    background-image: url(https://www.baltana.com/files/wallpapers-5/Blue-Background-Wallpaper-HD-16273.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

  .b{
   
      background-color: white;
    }
    .b:hover {
      background-color:black;
      transition-duration: 0.5s;
      color:white;
    }
  h1 {
    font-family: Helvetica;
    font-size: 300%;
    color:white;
    
  }
  input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    
    font-family:Helvetica ;
  }
  ::-webkit-input-placeholder {
     color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #ccc;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ccc;  
  }
  :-ms-input-placeholder {  
     color: #ccc;  
  }
  button {
    padding: 10px;
    font-size: 1.2em;
    color: #545454;
  }
  div{
    display:inline-flex;
    width:100%; 
    justify-content: space-evenly;
  }